@font-face {
    font-family: gloock;
    src: url(Gloock-Regular.ttf);
}
body {
    display: flex;
    align-items: center;
}

#inConstruction{
    font-family: gloock;
    font-size: 10vw;
    text-align: center;
    margin: auto;
}