
<footer id="footer">
    <div class="footer-left">Ishan &copy; 2023-2028</div>
    <div class="footer-right">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/archives/">Post</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/search/">Search</a></li>
                <li><a href="/categories/">Category</a></li>
                <li><a href="/tags/">Tag</a></li>
                <li><a href="/atom.xml">Rss</a></li>
                <li><a href="/donations/">$</a></li>
            </ul>
        </nav>
    </div>
</footer>
