#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--meta-color);
  font-size: small;
  margin-top: auto;
}

#footer ul {
  display: flex;
  list-style: none;
}

#footer a, .footer-right a {
  text-decoration: none;
  color: var(--meta-color);
}

#footer li {
  position: relative;
  padding: 0.5rem;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: var(--meta-color);
    transform: translateY(-50%);
  }

  &:last-child::before {
    display: none;
  }
}
