/* Code highlighting */
pre,
.highlight {
  background: var(--highlight-background);
  color: var(--highlight-text);
  border: 1px dotted var(--meta-color);
  border-radius: 4px;
}

/* Animations */
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-aspect-ratio: 9/16) {
  .content {
    max-width: fit-content !important;
    margin: 5px !important;
  }
  .post {
    margin-left: 0px !important;
  }
  #nav li {
    font-size: 2.5rem !important;
  }
  #header #title {
    font-size: 3rem !important;
  }
  #header #logo {
    height: 8rem !important;
  }
  .showcase-container {
    width: auto !important;
    margin-top: 1rem !important;
  }
  .post-item {
    font-size: 1.7rem !important;
    margin-bottom: 0 !important;
  }
}
