/* Code highlighting */
pre,
.highlight {
  background: var(--highlight-background);
  color: var(--highlight-text);
  border: 1px dotted var(--meta-color);
  border-radius: 4px;
}

/* Animations */
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-aspect-ratio: 3/4) {
  content {
    max-width: fit-content;
    margin: 5px;
  }
  .post {
    margin-left: 0;
  }
  #nav li {
    font-size: 2.5rem;
  }
  #header #title {
    font-size: 3rem;
  }
  #header #logo {
    height: 150px;
  }
}
