.showcase-container {
  width: 80vw;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.showcase-grid {
  display: grid;
  max-width: calc(100% - 40px);
  margin: 0 auto 20px auto;
  gap: 20px;
}

/* Adjusting grids for specific image types */
.portrait-grid {
  grid-template-columns: repeat(4, 1fr);
}

.landscape-grid {
  grid-template-columns: repeat(3, 1fr);
}

.square-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.showcase-grid img {
  width: 100%;
  height: auto;
}
