---
layout: default
---
<div class="showcase-container">
  {% assign portrait_links = site.data.imgur_links.portrait %}
  {% assign landscape_links = site.data.imgur_links.landscape %}
  
  {% assign portrait_rows = portrait_links.size | divided_by: 4 | ceil %}
  {% assign landscape_rows = landscape_links.size | divided_by: 3 | ceil %}
  
  {% assign total_rows = portrait_rows | plus: landscape_rows %}
  
  {% assign portrait_index = 0 %}
  {% assign landscape_index = 0 %}
  
  {% for i in (1..total_rows) %}
    {%- assign modulo_result = forloop.index | modulo: 2 -%}
    {%- if modulo_result == 1 -%}
      <div class="showcase-grid portrait-grid">
        {% for j in (0..3) %}
          {% assign image_link = portrait_links[portrait_index] %}
          {% if image_link %}
            <img src="{{ image_link }}" alt="Portrait Image" loading="lazy">
          {% endif %}
          {% assign portrait_index = portrait_index | plus: 1 %}
        {% endfor %}
      </div>
    {%- else -%}
      <div class="showcase-grid landscape-grid">
        {% for j in (0..2) %}
          {% assign image_link = landscape_links[landscape_index] %}
          {% if image_link %}
            <img src="{{ image_link }}" alt="Landscape Image" loading="lazy">
          {% endif %}
          {% assign landscape_index = landscape_index | plus: 1 %}
        {% endfor %}
      </div>
    {%- endif -%}
  {% endfor %}
</div>
